.header {
    display: grid;
    grid-template: 100% / 70px 220px 70px;
    grid-template-areas: 'logo button menu';
}

.logo {
    grid-area: logo;
    width: 70px;
    height: 70px;
    margin-top: 4px;
}

.signupButton,
.loginButton,
.profileButton,
.signoutButton {
    grid-area: button;
    margin: 15px 8px 15px 100px;
    border: 1px #98B1C4 solid;
    border-radius: 25px;
    color: #414141;
}

.signupButton:hover,
.loginButton:hover,
.profileButton:hover,
.signoutButton:hover {
    background-color: #98B1C4;
}

.signupButton p {
    width: 65px;
    margin: 17px 26px;
}

.loginButton p {
    width: 65px;
    margin: 17px 30px;
}

.profileButton p {
    width: 65px;
    margin: 17px 30px;
}

.signoutButton p {
    width: 65px;
    margin: 17px 30px;
}

.menuicon {
    grid-area: menu;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    opacity: 0.5;
}