.newStory {
    position: fixed;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #FF7153;
    bottom: 24px;
    right: 24px;
}

.newStory p {
    color: white;
    font-size: 32px;
    margin: auto;
    text-align: center;
}

.homePage {
    display: grid;
}