.newTopic {
    position: fixed;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #F24405;
    bottom: 24px;
    right: 24px;
}

.newTopic p {
    color: white;
    font-size: 32px;
    margin: 4px auto;
    text-align: center;
}