@keyframes moveUp {
    from {
        bottom: 24px;
    }
    to {
        bottom: 500px;
        transform: rotate(45deg);
    }
}

@keyframes moveDown {
    from {
        bottom: 300px;
        transform: rotate(45deg);
    }
    to {
        bottom: 24px;
        transform: rotate(-45deg);
    }
}

.newStory {
    position: fixed;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #F24405;
    bottom: 24px;
    right: 24px;
}

.newStory p {
    color: white;
    font-size: 32px;
    margin: 4px auto;
    text-align: center;
}