.loginButton {
    grid-area: button;
    margin: 15px 8px 15px 100px;
    border: 1px #98B1C4 solid;
    border-radius: 25px;
    color: #414141;
}

.loginButton:hover {
    background-color: #98B1C4;
}

.loginButton p {
    width: 65px;
    margin: 17px 30px;
}