.newStoryPage {
    width: 360px;
    height: 640px;
    padding: 16px;
    background-color: #F24405;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exitButton {
    position: relative;
    left: 290px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    transform: rotate(45deg);
    background-color: #F24405;
}

.exitButton p {
    color: white;
    font-size: 32px;
    margin: 4px auto;
    text-align: center;
}

label {
    color: white;
}

.titleInput {
    position: relative;
    left: 16px;
    background-color: #F24405;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding: 8px;
    width: 262px;
}

.storyContent {
    width: 328px;
    height: 194px;
    background-color: #F24405;
    border: 1px solid white;
    border-radius: 32px;
    box-sizing: border-box;
    margin-top: 32.5px;
    resize: none;
    padding: 16px;
    font-family: inherit;
    color: white;
}

.submitButton {
    position: relative;
    top: 245px;
    left: 184px;
    padding: 16px 46px;
    background-color: #F24405;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
}