.topicGrid {
    display: grid;
    width: 340px;
    height: 441px;
    margin: auto;
    grid-template: 100px 220px / 100%;
    grid-template-areas: 'info' 'text';
    background-image: linear-gradient(135deg, #FF5733, #FF9179);
    border-radius: 15px;
    color: white;
    padding: 18px;
    box-sizing: border-box;
}

.info {
    grid-area: info;
    margin: 0 8px;
}

.author {
    font-size: 14px;
}

.title {
    font-size: 20px;
}

.text {
    grid-area: text;
    margin: 8px 0 0 8px;
    font-size: 16px;
}