.topicGrid {
    display: grid;
    width: 21.25em;
    height: 27.5em;
    grid-template: 6.25em 21.25em / 100%;
    grid-template-areas: 'info' 'text';
    background-image: linear-gradient(135deg, #FF5733, #FF9179);
    border-radius: 15px;
    color: white;
    padding: 1.125em;
    box-sizing: border-box;
}

.info {
    grid-area: info;
}

.author {
    font-size: 1em;
}

.title {
    font-size: 1.25em;
}

.text {
    grid-area: text;
    font-size: 1em;
}