.header {
    display: grid;
    grid-template: 100% / 70px 220px 70px;
    grid-template-areas: 'logo button menu';
}

.logo {
    grid-area: logo;
    width: 70px;
    height: 70px;
    margin-top: 4px;
}

.signupbutton {
    grid-area: button;
    margin: 15px 8px 15px 100px;
    border: 1px #98B1C4 solid;
    border-radius: 25px;
    color: #414141;
}

.signupbutton:hover {
    background-color: #98B1C4;
}

.buttontext {
    width: 65px;
    margin: 17px 26px;
}

.menuicon {
    grid-area: menu;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    opacity: 0.5;
}