.header {
    display: grid;
    width: 360px;
    height: 58px;
    grid-template: 100% / repeat(2, 1fr);
    grid-template-areas: 'logo menu';
}

.logo {
    margin: 10px 0 0 10px;
    grid-area: logo;
    width: 50px;
    height: 50px;
}

.menuicon {
    margin: 8px 0 0 120px;
    grid-area: menu;
    width: 50px;
    height: 50px;
}